.pushup {
	margin-top: -12rem;
}

.pushleft {
	margin-left: 10rem;
}

.hede{
	text-align: center;
	color: white;
}

section {
	content: '';
	background-color: black;
	border-radius: 0 0 100% 100% / 0 0 100% 100%;
	overflow: hidden;
/*	transform: scaleX(1.5);
*/}