.pushup {
	margin-top: -12rem;
}

.pushup2 {
	margin-top: -25rem;
}

.pushleft {
	margin-left: 10rem;
}

.hede{
	text-align: center;
	color: white;
	font-size: 50pt;
}


section {
	content: '';
	background-color: black;
	border-radius: 0 0 100% 100% / 0 0 100% 100%;
	overflow: hidden;
/*	transform: scaleX(1.5);
*/}

div #content{
	text-align: center;
}

div #content h2{
	font-size: 30pt;
}

div #content p{
	font-size: 18pt;	
}